@model IEnumerable<OnlineShop.ViewModels.CartViewModel>

@{
    Layout = "/views/shared/SharedLayout.cshtml";
}

<!DOCTYPE html>


<head>
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>

        .lbl {
            font-size: 12px;
        }

        .add-btn {
            padding: 1px 7px;
            border: 1px solid #f7f7f7;
            box-shadow: 3px 3px 15px -6px grey;
            background-color: #fafafa;
        }

            .add-btn:hover {
                background-color: #cfffcd !important;
            }

        .remove-btn {
            padding: 1px 9px;
            border: 1px solid #f7f7f7;
            box-shadow: 3px 3px 15px -6px grey;
            background-color: #fafafa
        }

            .remove-btn:hover {
                background-color: #ffcdcd !important;
            }

        #count {
            background-color: #e5e5e5;
            padding: 1px 7px;
            border-radius: 3px;
            box-shadow: 1px 3px 15px -6px grey;
            font-size: 13px;
            font-family: IRANSansFaNum
        }

            #count:hover {
                cursor: default;
            }

        .btn-details {
            font-size: 11px;
            border: 1px solid #f7f7f7;
            box-shadow: 1px 1px 8px -4px grey;
            background-color: #fafafa;
            margin-bottom: 5px
        }

        #item-wrapper {
            box-shadow: 2px 6px 20px -12px grey;
            border: 1px solid #f7f7f7;
            width: 100%;
            margin: 10px 70px;
            float: right;
            height: 150px;
            text-align: center;
            border-radius: 10px;
            background-color: white;
        }

        #items {
            float: right;
            width: 55%;
            display: inline-block;
            font-family: IRANSans;
        }

        .factor {
            float: left;
            width: 25%;
            height: 55%;
            background-color: white;
            margin: 10px 70px;
            box-shadow: 2px 6px 20px -12px grey;
            border: 1px solid #f7f7f7;
            border-radius: 10px;
            position: fixed;
            display: none;
        }

        .factor-title {
            text-align: center;
            font-size: 16px;
            display: block;
            margin: 20px;
        }

        #submit-btn {
            margin-left: auto;
            margin-right: auto;
            display: block;
            background-color: rgb(255, 4, 73);
            color: white;
            box-shadow: 2px 6px 20px -12px grey;
            border: 1px solid rgb(255, 4, 73);
            border-radius: 10px;
            padding: 3px 10px;
            font-size: 14px;
        }
    </style>


</head>
<body style="background-color:#f7f7f7;font-family:IRANSans">



    <div id="items">
        @foreach (var item in Model)
        {

            <div id="item-wrapper">
                <img src=@item.ImageLink style="width:100px;height:100px; float:right;margin:20px 40px" />
                <div style="float:right;margin:20px;width:auto;text-align:right">
                    <div style="font-weight:600;font-size:15px">@item.Title</div>
                    <div style="font-size:14px;margin-top:5px"> رنگ: @item.Color</div>
                    <div style="font-size:14px;margin:5px 0"> M :سایز</div>
                    <div style="font-size:14px; font-family:IRANSansFaNum;text-align:right;direction:rtl"> قیمت واحد: <label  id="each-price">@item.EachPrice</label>  <label style="font-size:12px">تومان</label></div>
                </div>


                <div style="width:auto;margin:30px;float:left">
                    <i class="fa fa-trash-o" title="حذف" style="margin-right:20px;font-size:20px;color:#3c3c3c;"></i>
                    <button class="btn remove-btn" value="@item.Id">-</button>
                    <span id="count">@item.Count</span>
                    <button class="btn add-btn" value="@item.Id">+</button>
                    <div style="font-size:14px;margin-top:40px; font-family:IRANSansFaNum;text-align:right;direction:rtl"> قیمت کل: <label id="total-price">@item.TotalPrice</label>  <label style="font-size:12px">تومان</label></div>
                </div>

            </div>
        }
    </div>
    <div class="factor">
        <span class="factor-title">اطلاعات فاکتور</span>
        <hr />
        <div style="direction: rtl;text-align:right;margin:20px;">
            <div style="width:auto;display:inline-block;direction: ltr;">قیمت اقلام</div>
            <div style="float:left">
                <div style="font-family:IRANSansFaNum;width:auto;display:inline-block;font-size:16px" id="total"></div>
                <div style="display:inline-block">تومان</div>
            </div>
        </div>
        <div style="direction: rtl;text-align:right;margin:20px;">
            <div style="width:auto;display:inline-block;direction: ltr;">هزینه ارسال</div>
            <div style="float:left">
                <div style="font-family:IRANSansFaNum;width:auto;display:inline-block;font-size:16px" id="delivery"></div>
                <div style="display:inline-block">تومان</div>
            </div>

        </div>
        <div style="direction: rtl;text-align:right;margin:20px;">
            <div style="width:auto;display:inline-block;direction: ltr;">تخفیف</div>
            <div style="float:left">

                <div style="font-family:IRANSansFaNum;width:auto;display:inline-block;font-size:16px" id="discount"></div>
                <div style="display:inline-block">تومان</div>
            </div>

        </div>
        <hr />
        <div style="direction: rtl;text-align:right;margin:20px;">
            <div style="width:auto;display:inline-block;direction: ltr;" >جمع کل</div>
            <div style="float:left">
                <div style="font-family:IRANSansFaNum;width:auto;display:inline-block;font-size:16px" id="sum"></div>
                <div style="display:inline-block">تومان</div>
            </div>

        </div>

        <button id="submit-btn">ثبت و پرداخت فاکتور</button>
    </div>
    <div style="width:100%;text-align:center;margin-top:100px;display:none" id="empty">
        <img src="~/Images/empty.png" style="width:150px;height:150px" />
        <span style="display:block;margin-top:20px;direction:rtl">سبد خرید شما خالی‌ست!</span>
    </div>
</body>
<script type="text/javascript" src="~/scripts/cart/cart-index.js"></script>