@model IEnumerable<OnlineShop.ViewModels.ProductViewModel>

@{
    Layout = "~/Views/Shared/Sidebar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
    <style>
        th, td {
            padding: 10px;
            text-align: center
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }
                .tab button:hover {
                    background-color: #ddd;
                }

                .tab button.active {
                    background-color: #ccc;
                }
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
</head>
<body>
    <h2>مدیریت محصولات</h2>

    <div class="tab">
        <button class="tablinks" value="women">زنانه</button>
        <button class="tablinks" value="men">مردانه</button>
        <button class="tablinks" value="children">بچگانه</button>
    </div>

    <div id="women" class="tabcontent">
        <h3>زنانه</h3>

        <table class="table-bordered" style="direction:rtl;width:100%;margin:20px 0">
            <tr>
                <th>
                    کد محصول
                </th>
                <th>
                    تصویر
                </th>
                <th>
                    دسته بندی
                </th>
                <th>
                    قیمت
                </th>
                <th>
                    عنوان
                </th>
                <th>
                    نمایش در سایت
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        <a href="@item.Link">
                            <img src="@item.Link" style="width:42px;height:65px; border-radius:2px" />
                        </a>
                    </td>
                    <td>
                        @item.Category-@item.SubCat
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.ShowOnSite
                    </td>
                </tr>
            }

        </table>


    </div>

    <div id="men" class="tabcontent">
        <h3>مردانه</h3>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="children" class="tabcontent">
        <h3>بچگانه</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>

</body>
</html>
<script type="text/javascript" src="~/scripts/admin/products.js"></script>