@model IEnumerable<OnlineShop.ViewModels.ItemViewModel>

@{
     Layout="/views/shared/SharedLayout.cshtml";
}


    <head>
        <script src="~/scripts/jquery-3.4.1.min.js"></script>
        <meta name="viewport" content="width=device-width" />
        <title>@Model.FirstOrDefault().SubCatTitle  @Model.FirstOrDefault().CatTitle</title>
        <style>
            .lbl {
                display: block;
                font-size: 12px
            }
        </style>
    </head>
<body >
    <h3 style="float:right;font-family:IRANSans;margin:20px">
        @Model.FirstOrDefault().SubCatTitle  @Model.FirstOrDefault().CatTitle
    </h3>
    <div style="float:right;width:100%;display: inline-block;font-family:IRANSans">
        @foreach (var item in Model)
        {

        <div style="border:2px solid lightgrey;width:200px; margin: 10px;float: right;height:300px;text-align:center;border-radius:10px">
            <img src=@item.Link style="width:130px;height:130px" />
            <label style="font-weight:600">@item.Title</label>
            <hr />
            <label class="lbl">قیمت: @item.Price تومان</label>
            <label class="lbl">رنگ: @item.Color</label>
            <button class="btn btn-danger" style="padding: 1px 9px;">-</button>
            <span style="background-color:lightgray;padding: 1px 7px;border-radius:3px" class="count">5</span>
            <button class="btn btn-success add-btn" style="padding: 1px 7px;" >+</button>
            <a class="btn btn-primary" href="/item/details/@item.Id" style="font-size:12px">مشاهده</a>

        </div>

            @*<td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCatTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>*@


        }

    </div>
</body>

<script type="text/javascript" src="~/scripts/item/items.js"></script>